*{

    margin: 0;
    padding: 0;
    
}
html{
  
}

main{
    

padding: 8px;
margin-left: auto;
margin-right: auto;




}

section{
    margin-right: auto;
    
   /*  height: 360px; */
    
   
}
.form_tp{

    width: 65%;

}
.form_adm{

    width: 40%;

}

#container,.container_rel {
   /*  width: 80%; */
    aspect-ratio: 4/1;
    padding: 40px 0;
    margin: auto;
   /*  border: solid black 2px; */
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
  }

  .scroll_pro {
   /*  background-color: lightblue; */
    
    aspect-ratio: 4/1;
  }
  .reset_width{

    width:fit-content;
  }